 .u-section-1 {
  
  background-image: url("images/Tonylac77_cryo-EM_structure_of_an_enzyme_an_orange_molecule_is__e3904b93-1c25-49ea-8f36-4c2a4a774b06.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 77px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 746px;
  height: auto;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  
  font-weight: 700;
  background-image: none;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  
  font-weight: 700;
  background-image: none;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  
  font-weight: 700;
  background-image: none;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  
  font-weight: 700;
  background-image: none;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.25rem;
  
  font-weight: 700;
  background-image: none;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-6 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-tab-link-7 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-tab-link-8 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 302px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 15px 14px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-text-3 {
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 2px;
}

.u-section-1 .u-text-5 {
  margin: 1px 1px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px auto 0 1px;
}

.u-section-1 .u-text-7 {
  margin: 1px 1px 0;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 447px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-text-9 {
  margin: 8px 1px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px auto 0 2px;
}

.u-section-1 .u-text-11 {
  margin: 1px auto 0 2px;
}

.u-section-1 .u-text-12 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px auto 0 2px;
}

.u-section-1 .u-text-14 {
  margin: 8px auto 0 2px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 117px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-16 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-17 {
  margin: 0 auto 0 9px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 16px;
}

.u-section-1 .u-group-4 {
  min-height: 322px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 15px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-19 {
  margin: 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-21 {
  margin: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px auto 0 0;
}

.u-section-1 .u-text-23 {
  margin: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-tab-pane-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 500px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 15px 15px 14px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-25 {
  margin: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-27 {
  margin: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  margin: 0 auto 0 5px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-tab-pane-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 0 3px;
}

.u-section-1 .u-group-6 {
  min-height: 634px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 15px 15px 14px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-35 {
  margin: 0 1px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-37 {
  margin: 0 47px 0 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  
  padding: 0;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-39 {
  margin: 0 45px 0 1px;
}

.u-section-1 .u-tab-pane-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  min-height: 328px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 15px;
}

.u-section-1 .u-group-elements-1 {
  width: 283px;
  min-height: 142px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-41 {
  margin: -2px auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 311px;
  min-height: 288px;
  height: auto;
  margin: -142px 0 0 auto;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-43 {
  margin: 0;
}

.u-section-1 .u-group-elements-3 {
  width: 287px;
  min-height: 205px;
  height: auto;
  margin: -288px auto 0;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 287px;
  margin: 0 auto;
}

.u-section-1 .u-text-45 {
  margin: 3px auto 0 0;
}

.u-section-1 .u-tab-pane-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-group-8 {
  min-height: 173px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-47 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 70px;
    margin-bottom: -39px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 49px;
    margin-bottom: -386px;
  }
}