 .u-section-1 {
  background-image: url("images/Tonylac77_cryo-EM_structure_of_an_enzyme_an_orange_molecule_i_939f46bb-ac17-45ee-9e15-0a3aff3bbe90_3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 661px auto 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-bottom: 60px;
  }
}